:root {
    --primary: #657cbd;
    --secondary: #bda666;
    --dark: #1b1b1b;
    --light-gray: #e4e4e4;
    --light: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    &:focus {
        outline: 2px solid pink;
        outline-offset: 8px;
    }
}

html {
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
    background: var(--dark);
    color: var(--light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    margin: 2px;
    cursor: default;
    user-select: none;
    text-decoration: none;
    border-bottom: 1px groove transparent;
    transition: border-color ease-in-out .15s;

    &:hover, &:focus, &:active {
        border-bottom-color: var(--light-gray);
    }


}

.navbar-brand {
    display: block;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background: url("../img/logo.jpg") no-repeat center center;
    background-size: cover;

    /*&:hover {*/
    /*    text-decoration: none;*/
    /*}*/
}