@using RankList.Common.Interfaces
@using RankList.Common.Models
@inject IToastManager ToastManager;

<div class="toast-container">
@foreach (Toast toast in ToastManager.GetActive())
{
    <div id="toast-@toast.ToastId" class="toast-wrapper">
        <span class="toast-body">@toast.Text</span>
        <button class="toast-dismiss">x</button>
    </div>
}
</div>
