<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RankList</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ranklist.web.styles.css" asp-append-version="true"/>
</head>
<body>
<div>
    <partial name="_ToastBar"/>
</div>
<header>
    <nav class="container">
        <a href="/" class="logo-wrapper">
            @* <span>Rank List</span> *@
        </a>
        <span class="gap">&nbsp;</span>
        <a aria-label="link to sign in" href="/create-account">Sign-in</a>
    </nav>
</header>

<main role="main">      
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer>
    <div>&copy; 2025 - RankList</div>
</footer>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
